node_modules
.env
.env.local
.env.crypto

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
hyperledger-fabric-windows-amd64-2.5.4.tar
hyperledger-fabric-windows-amd64-2.5.4.tar.gz
fabric-binaries/
fabric-samples/
